.img {
    padding-left: 50px;
    margin: 20px;
    width: 230px;
}

.imeges {
    margin-left: 125px;
    transform: translateY(25px);
    
}

.page {
    margin-left: 120px;
    
}

.pages {
    margin-right: 20px;
}

.aslan {
    transform: translateY(110px);
}